<!DOCTYPE html>
<html lang="{{request.locale_name}}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="pyramid web application">
      <!-- Bootstrap core CSS -->
      <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this scaffold -->
      <link href="{{request.static_url('bffinder:static/css/theme.css')}}" rel="stylesheet">
      <link href="{{request.static_url('bffinder:static/scripts/jquery.simplePagination.js')}}">
      <link href="{{request.static_url('bffinder:static/css/simplePagination.css')}}" rel="stylesheet"/>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
     <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
      <![endif]-->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>
         function sendNotification(title, options) {
             if (!("Notification" in window)) {
                 alert('Ваш браузер не поддерживает HTML Notifications, его необходимо обновить.');
             }
             else if (Notification.permission === "granted") {
                 var notification = new Notification(title, options);
                 function clickFunc() {
                     alert('Пользователь кликнул на уведомление');
                 }

                 notification.onclick = clickFunc;
             }
             else if (Notification.permission !== 'denied') {
                 Notification.requestPermission(function(permission) {
                     if (permission === "granted") {
                         var notification = new Notification(title, options);
                     } else {
                         alert('Вы запретили показывать уведомления'); // Юзер отклонил наш запрос на показ уведомлений
                     }
                 });
             }
         }
      </script>
   </head>
   <body onload="Notification.requestPermission()">
      <style>
          .block {
                margin-bottom: 20px;
                text-align: center;
          }
          .block-absolute {
                position: absolute;
                right: 10px;
                margin-bottom: 20px;
                padding: 10px;
          }

      </style>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>
         $(document).ready(function() {
             $("#selectId").find("[value={{ count }}]").attr("selected", "selected");
         });
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>
         $(document).ready(function() {
             $("#orderId").find("[value={{ order }}]").attr("selected", "selected").change(function() {
                 this.form.submit()
             });
         });
      </script>
      <div class="container">
         <div class="col-md-12">
            {% block content %}
            <p>No content</p>
            {% endblock content %}
         </div>
      </div>
   </body>
</html>