{% extends "layout.jinja2" %}
{% block content%}
<div class="content">
   <p>
   <div class="block-absolute">
      <form target="_blank" action="http://localhost:6543/results/page1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
      <form  method="post">
         <input type="text" name="rqst" rows="1" title="Request">
         <input type="submit" value="Отправить">
         <select id="selectId" name="cnt" onchange="this.form.submit()" title="SelectCount">
            <option value="25">Отображать по 25</option>
            <option value="50">Отображать по 50</option>
            <option value="100">Отображать по 100</option>
         </select>
      </form>
      </form>
   </div>
   <div class="block" style="text-align: left;">
      <h1><span class="font-semi-bold"  style="color: black">Новый запрос, поиск по тэгам</span></h1>
   </div>
   </p>
</div>
{% endblock content %}