{% extends "layout.jinja2" %} {% block content%}
<div class="content">
   <p>
   <div class="block-absolute">
      <form method="post">
         <select id="selectId" name="cnt" onchange="this.form.submit()" title="SelectCount">
            <option value="25">Отображать по 25</option>
            <option value="50">Отображать по 50</option>
            <option value="100">Отображать по 100</option>
         </select>
      </form>
   </div>
   <div class="block" style="text-align: left;">
      <h1><span class="font-semi-bold"  style="color: black">Запросы на тему {{project}}</span></h1>
   </div>
   </p>
</div>
<div class="table">
   <form method="post">
      <table id="table_id" class="tablesorter" bordercolor="black" width="100%" border="1">
         <thead>
            <tr>
               <th style="text-align:center">
                  <span style="font-size: large; color: black;">Дата/время запроса</span>
   <form method="post">
   <select id="orderId" name="srt" onchange="this.form.submit()" title="SelectOrder">
   <option value="desc">По убыванию</option>
   <option value="asc">По возрастанию</option>
   </select>
   </form>
   </th>
   <th style="text-align:center"><span style="font-size: large; color: black;">Заголовок</span></th>
   <th style="text-align:center"><span style="font-size: large; color: black;">Дата создания</span></th>
   </tr>
   </thead>
   <tbody>
   {% for item in items %}
   <tr>
   <td align="center" valign="middle"><span style="font-size: large; color: black;">
   {{items[item][4]}}
   </span></td>
   <td align="center" valign="middle"><a href={{items[item][1]}}><span class="font-normal" style="font-size: large; color: black;">
   {{items[item][0] + ": \""+items[item][2].replace("&#39;", "'").replace("&#171;", "«").replace("&#187;", "»").replace("&quot;", "\"").replace("&amp", "&")}}
   </span></a></td>
   <td align="center" valign="middle"><span style="font-size: large; color: black;">
   {{items[item][3]}}
   </span></td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   </form>
</div>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
          <script type="text/javascript" src="{{request.static_url('bffinder:static/scripts/jquery.simplePagination.js')}}"></script>
            <script>
            $(function() {
                        $("#pager").pagination({
                            items: {{ fcount }},
                            itemsOnPage: {{ count }},
                            cssStyle: 'light-theme',
                            hrefTextPrefix: "page",
                            currentPage: {{ pnumber }}
                        });
            });
            </script>
    <p><div class="pagenav" style="float: right">
        <div class="pages" id="pager"></div>
    </div></p>
{% endblock content %}