{% extends "layout.jinja2" %}
{% block content%}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="application/javascript">
         const socket = new WebSocket('ws://localhost:{{ port }}');
         var array_info = [];
         // Listen for messages
         socket.addEventListener('message', function(event) {
             console.log(array_info);
             var cnt = 0;
             var jsn = jQuery.parseJSON(event.data);
             var len = jsn.length;
             var str_up = "Обновлены темы: ";
             var str_one = true;
             while (cnt < len) {
                 var a = [];
                 if ((jQuery.inArray(jsn[cnt][0], array_info[cnt]) !== -1) && (jQuery.inArray(jsn[cnt][1], array_info[cnt]) === -1)) {
                     if (str_one === true) {
                         str_up = str_up + jsn[cnt][0];
                         str_one = false;
                     } else {
                         str_up = str_up + ", " + jsn[cnt][0];
                     }
                     a[0] = jsn[cnt][0];
                     a[1] = jsn[cnt][1];
                     array_info[cnt] = a;
                 } else {
                     a[0] = jsn[cnt][0];
                     a[1] = jsn[cnt][1];
                     array_info[cnt] = a;
                 }
                 cnt++;
             }

             if (str_up !== "Обновлены темы: ") {
                 sendNotification("Обновление данных", {
                     body: str_up,
                     dir: 'auto'
                 });
             }
             console.log(array_info);
             socket.send('Thanks!');
         });
      </script>

<div class="content">
   <p>
   <div class="block-absolute">
      <form target="_blank" action="http://localhost:6543/search" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" style="display: inline-block">
         <input type="submit" value="Новый запрос" />
      </form>
      <form method="post" style="display: inline-block">
         <select id="selectId" name="cnt" onchange="this.form.submit()" title="SelectCount">
            <option value="25">Отображать по 25</option>
            <option value="50">Отображать по 50</option>
            <option value="100">Отображать по 100</option>
         </select>
      </form>
   </div>
   <div class="block" style="text-align: left;">
      <h1><span class="font-semi-bold"  style="color: black">Все запросы </span> </h1>
   </div>
   </p>
</div>
<div class="auto_load_div">
   <form method="post">
      <table id="table_id" class="tablesorter" bordercolor="black" width="100%" border="1">
         <thead>
            <col width="30%">
            <col width="70%">
            <tr>
               <th style="text-align:center">
                  <span style="font-size: large; color: black;">Дата/время запроса</span>
   <form method="post">
   <select id="orderId" name="srt" onchange="this.form.submit()" title="SelectOrder">
   <option value="desc">По убыванию</option>
   <option value="asc">По возрастанию</option>
   </select>
   </form>
   </th>
   <th style="text-align:center"><span style="font-size: large; color: black;">Заголовок</span></th>
   </tr>
   </thead>
   <tbody>
   {% for item in items %}
   <tr>
   <td align="center" valign="middle"><span style="font-size: large; color: black;">
   {{item[1]}}
   </span></td>
   <form target="_blank" action="http://localhost:6543/results/page1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
   <td align="center" valign="middle"><span class="font-normal" style="font-size: large; color: black;">
   "{{item[0]}}"
   <input type="hidden" name="rqst" value="{{ item[0] }}">
   <input type="submit" value="Показать" />
   </span></td>
   </form>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   </form>
</div>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
          <script type="text/javascript" src="{{request.static_url('bffinder:static/scripts/jquery.simplePagination.js')}}"></script>
            <script>
            $(function() {
                if(({{items.__len__()}}) < ({{ count }})){
                        $("#pages").pagination({
                            items: {{items.__len__()}},
                            itemsOnPage: {{ count }},
                            cssStyle: 'light-theme',
                            hrefTextPrefix: "page",
                            currentPage: {{ pnumber}}
                        });
                }
            });
            </script>
    <p><div class="pagenav" style="float: right">
        <div class="pages" id="pages"></div>
    </div></p>

{% endblock content%}